body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  header{
    z-index: 1;
    position: fixed;
    background: #fff;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 79px;
    box-shadow: 0px 2px 3px #ccc;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -47px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #4b4f58;
    margin-top: 80px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    background: #19B3D3;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px #ccc;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #fff;
    margin-top: 0;
    /* margin-bottom: 20px; */
    font-size: 25px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    background: #6b797b66;
    border-bottom:1px solid #fff;
    
  }  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 80px;
    padding: 40px;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: 0.5s;
    background-color: #eee;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    /* padding: 15px;
    margin-bottom: 10px; */
    font-size: 14px;
    opacity: 0.8;
  }
  /* ------table styles------ */
  .table thead{
      background-color: #2dbeda;
      color:#fff;
      font-size: 17px;
  }
  .table td,.table th{
      padding:0.75rem;
      padding: 12px;
      font-size: 17px;
      text-transform: capitalize;
  }
  .card_inner{
      padding: 30px;
  }
  .heading_card{
     padding: 15px 20px; 
     margin-bottom: 30px; 
  }
  .heading_card h3{
     margin: 0px;
     font-size: 27px;
  }
  .my-btn{
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    background-color: #2dbeda;
  }
  .received,.preparing,.ready{
    padding: 8px;
    color:#fff;
    font-size: 14px;
  }
  .received{
      background-color:#ffc107 ;    
  }
  .preparing{
      background-color: #007bff;
  }
  .ready{
      background-color: #056f28;
      padding: 5px;
  }
  .total_count p{
      text-align:right ;
      margin:0px;
      padding: 0px;
  }
  .total_count p span{
    background: #2dbeda;
    color: white;
    padding: 5px 7px;
    border-radius: 50px;
    margin-left:5px;
  }
  .total_amount{
    margin-right:2px; 
    font-size:14px;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #19B3D3;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
      background:#19B3D3;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  }
                             